@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
}

.btn-submit-form {
  @apply inline-flex items-center justify-center mt-8 px-4 py-4 font-semibold leading-6 text-sm shadow rounded-md  text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150;
}

.card {
  @apply bg-white shadow-md rounded-lg;
}
